.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    padding:20px;
   display: flex;
   justify-content: space-between;
}
.navbar_logo{
    width: 80px;
    object-fit: contain;
}
.navbar_avatar{
    width: 30px;
    object-fit: contain;
    margin-right: 30px;
}
.logout{
 position: fixed;
right:10px;
top: 17px;
padding: 10px 20px;
border: none;
font-size: 1rem;
color: white;
background-color: #e50914;
cursor: pointer;
transition: 450ms;

}
.logout:hover {
  transform: scale(1.08);
}
